{{!-- The following component displays Ember's default welcome message. --}}
{{test}}
<div class="ui menu">
{{#link-to "index" class="item"}} HOME {{/link-to}}
{{#link-to "projects" class="item"}} PROJECTS {{/link-to}}
{{#link-to "developers" class="item"}} DEVELOPERS {{/link-to}}
</div>

<div class="ui container">

{{outlet}}
</div>